<% if @group.errors.any? %>
  <ul>
    <% @group.errors.full_messages.each do |msg| %>
       <li class="error"><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<h3>Make a New Group</h3>
<!-- Steven, Since I use this same form for the edit and new route, is there a good way i can display 'make a new group' if arriving from the 'new' route and 'Edit your Group' if arriving here from the 'edit' route? -->
<%= form_for @group do |f| %>
  <% [:name, :language].each do |field|  %>
    <div>
      <%= f.label field %>
      <%= f.text_field field %>
    </div>
  <% end %>
    <div>
      <%= f.text_area :description, rows:10, cols:80 %>
    </div>
  <%= f.submit %>
<% end %>

